.btn {

  border-radius: 100px;

  &--play {
    background-color: $color-palette-4;
    color: $color-palette-1;
    font-size: $l-size;
    display: block;
    margin: 0 auto;
    padding: $m-size $xl-size;

  }
}
