.header {
  text-align: center;
}

.header__content {


}

.header__primary {
  color: $color-palette-5;
  letter-spacing: $s-size / 2;
  text-decoration: none;
  text-transform: uppercase;
  padding: $xl-size 0;
  h1 {
    margin: 0;
  }
}

.header__info {

}
