.score {
  font-size: $m-size;

  ul {
    position: relative;

    li {
      display: inline-block;
    }

  }
  &__currentScore {
    display: inline;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    p {

    }
  }
  &__highscore {
    color: blue;
    font-size: $m-size;
    margin-left: .5rem;
    text-decoration: underline;
    transition: all .2s;
    &--highlight {
      color: blue;
      font-weight: 700;
      span {

      }
    }
    &:active {
      color: $color-palette-2;
      //transform: translateX(.5rem);
    }
    &:hover {
      cursor: pointer;
      color: darken(blue, 10%);
      transform: translateX(.2rem);
    }
  }
  @include respond(tab-port) {
    margin: 1rem 0;
  }
}
